<!DOCTYPE html>
<html>
<head>
  <title>Mi plantilla EJS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<center>
<body>
  <h1>Bienvenido a mi plantilla EJS</h1>
  <p><%= mensaje %></p>
  <img src="https://i.ibb.co/5BkjG9H/Captura-de-pantalla-22.png">
</body>
</center>
</html>
