doctype html
html
center
  head
    title Mi plantilla Pug por Evelarde
    link(rel="stylesheet", href="/css/styles.css")

  body
    h1 Bienvenido a la plantilla de Enzo Velarde 
    p #{mensaje}
    div 
     img(src="https://i.ibb.co/5BkjG9H/Captura-de-pantalla-22.png")
