doctype html
html
center
  head
    title Perfil de #{user.nombre}
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Perfil de #{user.nombre}
    p ID del usuario: #{user.id}
    div
        img(src="https://i.ibb.co/5BkjG9H/Captura-de-pantalla-22.png")

