<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio de <%= nombre %></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/ejs">Inicio</a></li>
          <li><a href="/sobremi">Sobre mí</a></li>
          <li><a href="/yo">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="proyectos">
        <h2 style="font-size: 20px;">Aptitudes principales</h2>
        <p style="font-size: 20px;">Desarrollo front end</p>
        <p style="font-size: 20px;">Desarrollo web back end</p>
        <h2 style="font-size: 20px;">Extracto</h2>
        <p style="font-size: 20px;">Desarrollador de software, autodidacta con conocimientos en PHP,
          Laravel, Python, Java , CSS y HTML base de datos SQL y NOSQ</p>
          <h2 style="font-size: 20px;">Educación</h2>
          <p style="font-size: 20px;">TECSUP</p>
          <p style="font-size: 20px;"> · (marzo de 2020 - diciembre de 2023)</p>
          <h2 style="font-size: 20px;">Certifications</h2>
          <p style="font-size: 20px;">Scrum Fundamentals Certified (SFC)</p>

      </section>
     
      
    </main>
    <footer>
      <p class="footer">&copy; <%= new Date().getFullYear() %> <%= nombre %></p>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
